.outer-answer-list-container {
    width: 100%;
}

.add-answer-toggle-container {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all linear 0.25s;
}
.add-answer-toggle-container i {
    font-size: 28px;
    margin-right: 10px;
}

.add-answer-toggle-container:hover,
.add-answer-toggle-container i:hover {
    color: #034b8c;
}
.add-answer-toggle-container:active,
.add-answer-toggle-container i:active {
    color: #012c52;
}

.add-answer-form-container {
    width: 100%;
    margin-bottom: 20px;
}

.add-answer-form-element {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
        "header header"
        "answer buttons";
    align-items: flex-start;
    background-color: rgb(46, 46, 46);
    border-radius: 5px;
    padding: 30px;
    gap: 15px;
}

.add-answer-sub-container {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.add-answer-form-element label {
    grid-area: header;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

.add-answer-form-element textarea {
    grid-area: answer;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 5px;
}

.add-answer-form-element button {
    grid-area: buttons;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    color: rgb(219, 219, 219);
    border: 1px solid #0d0d0d;
}

.add-answer-form-element button:active {
    box-shadow: inset 0 0 10px rgb(137, 178, 255);
}

.add-answer-form-element button:first-child {
    margin-bottom: 20px;
    background-color: #012c52;
    transition: all linear 0.25s;
}

.add-answer-form-element button:first-child:hover {
    background-color: #034b8c;
    box-shadow: inset 0 0 5px black;
}

.add-answer-form-element button:last-child {
    background-color: #0d0d0d;
    transition: all linear 0.25s;
}
.add-answer-form-element button:last-child:hover {
    background-color: #4b4b4b;
    box-shadow: inset 0 0 5px black;
}

.add-answer-button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 5px;
}

.narrow-icon-button {
    display: none;
}

@media screen and (max-width: 800px) {
    .narrow-icon-button {
        display: inline-block;
    }
    .full-text-post {
        display: none;
    }
}
