.signup-form-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signup-form-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 15px;
    justify-content: center;
    text-align: end;
    width: 100%;
}
.signup-form-container h1 {
    text-transform: uppercase;
}

.errors-container {
    background-color: rgb(139, 44, 44);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    border-radius: 10px;
    color: rgb(204, 204, 204);
    margin-bottom: 30px;
}

.hidden-error-container {
    margin: 0;
    padding: 10px 0;
}

.errors-container li {
    text-transform: capitalize;
}

.form-label {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5em;
    word-spacing: 0.5em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.signup-form-element input {
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid rgba(146, 146, 146, 0.418);
    width: 100%;
    height: 30px;
}

.signup-form-element div button {
    margin-top: 25px;
    width: 35%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.418);
    background-color: #012c52;
    transition: background-color linear 0.25s;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: rgb(221, 221, 221);
}

.sign-up-button-container {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-evenly;
}

.signup-form-element button:hover {
    background-color: #034b8c;
    transition: all linear 0.3s;
    box-shadow: inset 0 0 5px black;
}

.nav-link.signup-link {
    border: none;
    background-color: transparent;
}

.sign-up-button-container button:last-child {
    background-color: #0d0d0d;
}
.sign-up-button-container button:last-child:hover {
    background-color: #252525;
}
