.error-page-container {
    position: fixed;
    top: 150px;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.678);
}
.error-page-container h1 {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 3px;
    word-spacing: 10px;
    border: none;
}

.error-page-container img {
    width: 30%;
    margin-bottom: 30px;
    box-shadow: inset 0 0 10px white;
}

.return-home-from-error {
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(49, 49, 49);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    align-self: center;
    width: 30%;
    text-transform: uppercase;
}

.return-home-from-error:hover {
    background-color: rgb(21, 42, 100);
}
