.outer-content-container {
    position: fixed;
    display: flex;
    top: 180px;
    bottom: 0;
    height: 100%;
    width: 75vw;
    background-color: #4b4b4b;
    overflow-y: scroll;
    justify-content: center;
    flex-direction: column;
}

.content-logged-out {
    width: 100%;
    color: rgb(192, 192, 192);
    position: absolute;
    top: 0;
    display: flex;
    padding-top: 20px;
}

.content-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
}

.message-notloggedin {
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.message-loggedin {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-loggedin i {
    font-size: 30px;
    color: #006bc9;
}
.message-loggedin span {
    margin-left: 20px;
    color: #006bc9;
    font-size: 20px;
}

.content-logged-in {
    height: 50px;
    background-color: rgb(22, 22, 22);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 15px;
}
