.single-question-container {
    display: flex;
    position: absolute;
    top: 200px;
    flex-direction: column;
    width: 80%;
    background-color: #c4c4c4;
    padding: 20px;
    border: 35px solid #034b8c;
}
.single-question-container.logged-out-sqc {
    border: 35px solid #4b4b4b;
}

.single-question-all {
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
}

.single-question-container h3 {
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
}

.all-answers-container {
    margin: 10px 0;
}

.single-answer-container {
    margin-bottom: 30px;
    font-size: 14px;
    background-color: white;
    padding: 20px 10px;
    border-radius: 5px;
}

.single-answer-container.answer-owner {
    background-color: rgb(228, 245, 255);
    box-shadow: 3px 3px 5px rgb(51, 51, 51);
}

.answer-user-info {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sub-answer-user-info {
    display: flex;
    align-items: center;
}

.answer-user-info i {
    font-size: 25px;
    margin-right: 10px;
}
.a-user-info-text {
    position: relative;
    top: 5px;
    margin-bottom: 10px;
    height: 100%;
    align-self: center;
    font-size: 12px;
}

.a-user-username {
    font-weight: 800;
}

.q-subheader-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: ; */
    grid-template-areas:
        "a c"
        "b c";
}

.question-edit-delete {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.question-edit-delete div {
    height: 100%;
}
.question-edit-delete div button {
    height: 100%;
    width: 50px;
    margin-left: 10px;
    background-color: rgb(187, 187, 187);
    transition: all ease-out 0.5s;

    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
}

.nav-link-edit-question:hover {
    background-color: rgb(231, 172, 104);
    box-shadow: inset 0 0 3px black;
}
.nav-link-edit-question:active {
    box-shadow: inset 0 0 8px black;
}
.nav-link-delete-question:hover {
    background-color: rgb(158, 32, 32);
    color: white;
    box-shadow: inset 0 0 3px black;
}
.nav-link-delete-question:active {
    box-shadow: inset 0 0 8px black;
}

.q-author {
    font-style: italic;
}

.q-date {
    grid-column: 1 / 2;
    font-size: 12px;
}

.q-subheader-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.single-q-profile {
    display: flex;
    align-items: center;
}

.answer-text {
    font-size: 14px;
}

.fa-solid.fa-user.q-icon {
    color: #0d0d0d;
    margin-right: 10px;
    cursor: auto;
}
.fa-solid.fa-user.q-icon:hover {
    color: #0d0d0d;
    margin-right: 10px;
    cursor: auto;
    font-size: 30px;
}
