/* TODO Add site wide styles */
* {
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
}

.super-container {
    display: flex;
    justify-content: center;
}

#info-button {
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
#info-button i {
    font-size: 30px;
    color: #0d0d0d;
}
#info-button i:hover {
    font-size: 33px;
    color: #4b4b4b;
}
#info-button i:active {
    font-size: 33px;
    color: #012c52;
}
