/* TODO Add site wide styles */
* {
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
}

body {
    background-image: url("../public/images/travelbackground.jpg");
    opacity: 0.92;
}

.super-container {
    display: flex;
    justify-content: center;
}

.meme-cat {
    position: fixed;
    top: 0;
    display: none;
    z-index: 99999;
}

@media screen and (max-width: 200px) {
    .meme-cat {
        display: block;
    }
}
