.question-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.question-box {
    background-color: rgb(206, 206, 206);
    width: 100%;
    margin: 5px 0;
    padding: 20px;
}

.question-box.question-owner-main {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px black;
}

.question-box:first-child {
    margin-top: 20px;
}

.fa-solid.fa-user.question:hover {
    cursor: auto;
    color: rgb(59, 59, 59);
}

.question-profile {
    display: grid;
    grid-template-columns: 10% 40%;
    align-items: center;
    margin-bottom: 10px;
}

.profile-desc {
    align-items: center;
}

.fa-solid.fa-user.question {
    cursor: auto;
    color: rgb(59, 59, 59);
}
.fa-solid.fa-user.question:hover {
    cursor: auto;
    color: rgb(59, 59, 59);
    font-size: 30px;
}

.question-username {
    font-size: 16px;
}

.question-username-owner {
    color: rgb(46, 46, 214);
}
.question-date {
    font-size: 12px;
    align-items: center;
}

.question-title {
    font-weight: bolder;
}

.num-answer-text {
    margin-top: 10px;
    font-size: 12px;
}

.link-to-single-question {
    text-decoration: none;
    color: black;
    width: 100%;
}
.link-to-single-question div {
    transition: all linear 0.1s;
}
.link-to-single-question > div:hover {
    text-decoration: none;
    box-shadow: inset 0 0 5px black;
}

.link-to-single-question:visited {
    text-decoration: none;
    color: black;
}
