.main-navbar {
    background-color: #012c52;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
}

.main-navbar.logged-out-main-nav {
    background-color: #0d0d0d;
}

.main-logo-container {
    height: 100%;
}

.main-logo {
    grid-column: 1 / 2;
    height: 100%;
}

.navlink-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    width: 100%;
}

.session-links-container {
    color: rgb(175, 175, 175);
    display: flex;
    align-items: center;
}

.welcome-back {
    padding-right: 20px;
}

.nav-link {
    color: rgb(175, 175, 175);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 20px;
}
.nav-link:hover {
    color: rgb(196, 50, 45);
    font-weight: 700;
}

.nav-link.nav-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
}

.profile-outer-container {
    position: relative;
    display: inline-block;
}

.dropdown {
    background-color: rgb(26, 26, 26);
    display: flex;
    position: absolute;
    top: 45px;
    right: 0;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 1px 1px 10px black;
    z-index: 1;
}

.td-row-header {
    font-weight: 800;
    padding-right: 10px;
}

.profile-button {
    border: none;
    background-color: transparent;
}
.profile-icon {
    padding: 10px;
    cursor: pointer;
    z-index: 99;
}

.profile-icon.lit {
    background-color: rgb(26, 26, 26);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    z-index: 2;
}

.fa-solid.fa-user {
    font-size: 30px;
    cursor: pointer;
    color: rgb(175, 175, 175);
}

.fa-solid.fa-user:hover {
    color: #be9c29;
    cursor: pointer;
}
