.main-navbar {
    background-color: slategray;
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 100px;
    left: 0;
    align-items: center;
    justify-content: space-evenly;
}

.nav-link {
    color: rgb(46, 46, 46);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 20px;
}
.nav-link:hover {
    color: rgb(196, 50, 45);
    font-weight: 700;
}

.nav-link.nav-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
}

.dropdown {
    background-color: rgb(218, 151, 28);
    display: flex;
    position: absolute;
    top: 42px;
    right: 10px;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;
}

.td-row-header {
    font-weight: 800;
    padding-right: 10px;
}

.profile-icon {
    padding: 10px;
    cursor: pointer;
}
.profile-icon:hover {
    color: rgb(156, 89, 13);
}
.profile-icon.lit {
    background-color: rgb(218, 151, 28);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
